/trees/
/Digraph.gv
/Digraph.gv.pdf
/test
/attentionweights/
/test.py
/dependencies.pdf
/model.obj
/model2.obj
/model.obj_index
/model2.obj_index
/model_with.obj
/model_with.obj_index
/test_compare.pdf
/runs/
/eventor.prof
/trees_/
/model.obj.avg
/output.html
/test.html
/output_.html
/output_cm_arg_
/output_cm_trig_
/what.svg
/error.svg
/mention_verb_trigger_.txt
/dependencies_.pdf
/graphs/
/__pycache__/
